Flask==1.1.2
Flask-SQLAlchemy==2.5.1
Flask-Migrate==2.7.0
Flask_Bcrypt==0.7.1
Flask-Script==2.0.6
SQLAlchemy-Utils==0.37.0
pytz==2021.1
psycopg2==2.8.6
psycopg2-binary==2.8.6
python-dotenv==0.17.0
PyJWT==1.7.1
Flask_Bcrypt==0.7.1
SQLAlchemy==1.4.11
marshmallow-sqlalchemy==0.24.2
Flask-Cors==3.0.10
click==7.1.2
bcrypt==3.2.0
